//@import '~bootstrap/scss/bootstrap';

@use "./partials/mixin" as *;
@use "./partials/variables" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.content{
    width: 70%;
    margin: 0 auto;
}

//da rimuovere
h1{
    text-align: center;
    padding: 50px 0;
}
@import "./partials/header.scss";
@import "./partials/footer.scss";
