//@import '~bootstrap/scss/bootstrap';

@use "./partials/mixin" as *;
@use "./partials/variables" as *;


// classi general scss


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.content{
    width: 70%;
    margin: 0 auto;
}

header {
  height: 117px;
  @include justify-between();
  width: 70%;
  margin: 0 auto;
  input{
    height: 30px;
    align-self: center;
    border: none;
    border-bottom: 2px solid $secondary-color;
    &:focus{
        outline: none;
    }
    &::placeholder{
        font-weight: bold;
        text-align: right;
    }
  }
  img {
    transform: scale(0.8);
    cursor: pointer;
  }
  ul {
    @include reset-list();
    padding: 0 30px;
    li {
      @include reset-links();
      a {
        color: lighten($primary-color, 15%);
        text-decoration: none;
        padding-bottom: 43px;
        &:hover{
          box-shadow: 0px 7px 0px 0px lighten($secondary-color, 10%);
        }
      }
    }
  }

  .active{
    box-shadow: 0px 7px 0px 0px lighten($secondary-color, 10%);
  }

}

.start-box{
    height: 25px;
    min-width: 100%;
    background-color: lighten($secondary-color, 10%);
    .text{
        width: 90%;
        height: 100%;
        color: white;
        display: flex;
        font-size: 0.7rem;
        justify-content: flex-end;
        align-items: center;
        p{
            padding: 0 20px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.jumbotron img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}


.footer-box {
    height: 370px;
    background-image: url("../images/footer-bg.jpg");
    background-size: cover;
    .content {
      position: relative;
      overflow: hidden;
      display: flex;
      div {
        padding: 30px;
        h4 {
          padding: 10px 0;
          color: white;
          font-size: 1.1rem;
        }
      }
      ul {
        list-style: none;
        a {
          text-decoration: none;
          color: #959595;
          font-size: 0.75rem;
          display: inline-block;
          padding: 5px 0;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .bglogo {
      position: absolute;
      top: -80px;
      right: 0;
    }
  }

.footer-bottom {
    height: 110px;
    background-color: lighten($primary-color, 8%);
    .content-bottom {
      @include justify-between();
      height: 100%;
      align-items: center;
      & > h4 {
        margin-left: 40px;
        padding: 13px;
        border: 2px solid $secondary-color;
        color: white;
        cursor: pointer;
      }
      .follow-us {
        display: flex;
        img {
          margin: 0 7px;
          cursor: pointer;
        }
        & > h4 {
          color: $secondary-color;
          margin-right: 30px;
          padding-top: 5px;
          font-size: 1.1rem;
        }
      }
    }
  }

  .menu-box {
    background-color: $secondary-color;
    overflow-y: auto;
    .content {
      ul {
        @include reset-list();
        justify-content: space-between;
        li {
          display: flex;
          align-items: center;
          @include reset-links();
          img {
            transform: scale(0.5);
          }
          a {
            text-decoration: none;
            color: white;
            font-size: 0.9rem;
            font-weight: 300;
          }
        }
      }
    }
  }
