//@import '~bootstrap/scss/bootstrap';

@use "./partials/mixin" as *;
@use "./partials/variables" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

main{
    background-color: $primary-color;
}

.content{
    width: 70%;
    margin: 0 auto;
}

@import "./partials/header.scss";
@import "./partials/footer.scss";
@import "./partials/card.scss";
